{% extends 'tallyhq/index.html' %}
{% block content %}
<div class="ui grid padded centered">
    <div class="sixteen wide stackable grid column">
        <div class="ui segments">
            <div class="ui grey compact segment">
                <div class="ui huge header">
                    <i class="thumbs up icon"></i>
                    Success!
                </div>
</div>
            <div class="ui secondary segment">
            <div class="ui massive segment">
Your checkout form has been submitted! You may now continue to the incentive items.
</div>
                </div>
            </div>
        <a class="ui button" href="/tallyhq/teacherlogin/">
                            Return Home
                        </a>

    </div>
{% endblock %}